doctype html
html(lang="en")
    head
        title="URL-Shortener"
    body
        div.container
            div.row
                h1 URL-Shortener
                p
                    | Your shortened URL is
                    a(href=base_url+'/'+id) #{base_url}/#{id}

